        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Arial, Helvetica, sans-serif;
        }

        body {
            background: #f4f6f9;
            color: #333;
        }

        /* HEADER */
        /* Navbar */

.navbar-custom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 70px;
  background: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(10px);
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.08);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  font-size: 26px;
  font-weight: 900;
  color: #4f46e5;
}

.logo span {
  color: #22c55e;
}

.nav-links {
  display: flex;
  gap: 25px;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  font-size: 17px;
  font-weight: 600;
  color: #111827;
  position: relative;
  padding: 6px 4px;
  transition: 0.3s;
}

.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0%;
  height: 3px;
  background: #22c55e;
  transition: 0.3s;
  border-radius: 5px;
}

.nav-links a:hover::after,
.nav-links a.active::after {
  width: 100%;
}

.nav-links a:hover {
  color: #4f46e5;
}

.nav-links a.active {
  color: #22c55e;
}

.btn-business {
  padding: 10px 20px;
  background: linear-gradient(135deg, #4f46e5, #22c55e);
  color: #fff !important;
  border-radius: 30px;
  font-weight: bold;
  box-shadow: 0 5px 15px rgba(79, 70, 229, 0.25);
  transition: 0.3s;
}

.btn-business:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 25px rgba(34, 197, 94, 0.3);
}

        /* MAIN */
        .main {
            text-align: center;
            padding: 40px 20px;

            display: flex;
            justify-content: center;
            align-items: center;

        }

        .main h1 {
            margin-bottom: 10px;
        }

        .main p {
            color: #666;
            margin-bottom: 30px;
            max-width: 700px;
            margin-left: auto;
            margin-right: auto;
        }

        /* FORM CARD */
        .form-container {
            background: #ffffff;
            padding: 30px;
            border-radius: 10px;
            max-width: 600px;
            width: 100%;
            box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
        }

        .form-container h2 {
            margin-bottom: 8px;
        }

        .subtitle {
            color: #6b7280;
            margin-bottom: 25px;
            font-size: 14px;
        }

        .list-business-form {
            width: 100%;
        }

        .form-grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 24px;
            row-gap: 20px;
        }

        .form-group {
            display: flex;
            flex-direction: column;
        }

        .form-group label {
            align-items: left;
            font-weight: bold;
            display: flex;

            font-size: 14px;
            /* font-weight: 500; */
            margin-bottom: 6px;
            color: #374151;
        }

        /* .req {
            color: red;
        } */

        .form-group input,
        .form-group select,
        .form-group textarea {
            padding: 10px 12px;
            height: 44px;
            border: 1px solid #d1d5db;
            border-radius: 6px;
            font-size: 14px;
        }

        .form-group textarea {
            height: auto;
            /* resize: vertical; */
        }

        .form-group input::placeholder,
        .form-group textarea::placeholder {
            color: #9ca3af;
            font-size: 13px;
        }

        .form-group input:focus,
        .form-group select:focus,
        .form-group textarea:focus {
            outline: none;
            border-color: #2563eb;
        }

        .two-block-row {
            display: flex;
            gap: 50px;
            /* flex: 1; */
            flex-direction: row;

            margin: 0px 10px 0px 10px;
            /* width: 800px; */
            /* padding: 10px 12px; */
            /* height: 44px; */
            /* border: 1px solid #d1d5db; */
            border-radius: 6px;
            font-size: 14px;
        }



        .full-width {
            grid-column: span 2;
        }


        .info-box {
            max-width: 600px;
            height: 140px;
            margin: 40px auto;
            padding: 16px;
            background-color: #f0eaf4;
            border: 1px solid rgb(145, 59, 211);
            border-radius: 5px;
            font-family: Arial, sans-serif;

        }

        .info-box h3 {
            display: flex;
            text-align: left;
            margin-top: 0;
            color: #9546ea;
        }

        /* .info-box ul {
            padding-left: 18px;
        }
        .info-box li {
            margin-bottom: 8px;
        } */
        .info-box p {
            margin-top: 9px;
            font-weight: bold;
            font-size: 14px;

        }

        .submit-btn {
            margin-top: 5px;
            width: 100%;
            padding: 12px;
            background:#007BFF;
            color: white;
            font-size: 16px;
            border: none;
            border-radius: 8px;
            cursor: pointer;
        }

        .submit-btn:hover {
            background: #0056b3;
        }

        /* Mobile Responsive
@media (max-width: 768px) {
  .form-grid {
    grid-template-columns: 1fr;
  }

  .full-width {
    grid-column: span 1;
  }
} */



        /* WHY SECTION */
        .why {
            /* background:#ffffff; */
            margin-top: 30px;
            padding: 20px 20px;
            text-align: center;
        }

        .why h2 {
            margin-bottom: 40px;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);

        }

        .why-box {
            display: flex;
            justify-content: center;
            gap: 20px;
            flex-wrap: wrap;
        }

        .box {
            width: 300px;
            padding: 20px;

        }

        .box h4 {
            color: #191b1e;
            margin-bottom: 10px;
        }


        /* General inquiry section */

        section.contact-wrapper {
            max-width: 1100px;
            margin: 40px auto;
            padding: 20px;
            display: flex;
            gap: 100px;
        }

        section.inquiry-section
        /* section.getintouch-section */
         { 
            background: #ffffff;
            padding: 25px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

           

        }

        /* LEFT SIDE */
        section.inquiry-section { 
            flex: 1;
            width: 50px;
         }

        /* RIGHT SIDE */
        section.getintouch-section {
            flex: 1 ;
        }

        h2 {
            color: black;
            margin-bottom: 10px;
        }

        p {
            color: #555;
            margin-bottom: 15px;
        }

        label {
            display: block;
            margin-top: 12px;
            font-weight: bold;
        }

        input,
        select,
        textarea {
            width: 100%;
            padding: 8px;
            margin-top: 6px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        /* textarea {
            resize: vertical;
        } */

        button {
            margin-top: 18px;
            width: 100%;
            padding: 10px;
            background-color: #007BFF;
            color: #ffffff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        button:hover {
            background-color: #0056b3;
        }

        .contact-item {
            margin-bottom: 18px;
            /* display: flex; */
        }

        .contact-item h4 {
            margin-bottom: 10px;
            color: #333;
            display:flex;
            font-size: 20px;
        }


        .icons{
             height:25px;
              background-color: #ffff;
              border-radius: 5px; 
              padding: 3px;
        }

        /* .social-media-icon img {
            display: block;
            height: 20px;
        } */
        /* a img {
            display: block;
        } */

        .contact-item p,
        .contact-item a {
            color: #555;
            text-decoration: none;
            /* display: block; */
            margin-bottom: 4px;
        }

        .contact-item a:hover {
            color:  #0056b3;
        }

        /* .media-icons{
            background-color: #dfd9e5;
            border-radius: 10px;
            padding: 5px;
        } */

        /* MOBILE RESPONSIVE */
        /* @media (max-width: 768px) {
            section.contact-wrapper {
                flex-direction: column;
            }
        } */