/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #f9fafb;
}


/* Navbar */

.navbar-custom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 70px;
  background: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(10px);
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.08);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  font-size: 26px;
  font-weight: 900;
  color: #4f46e5;
}

.logo span {
  color: #22c55e;
}

.nav-links {
  display: flex;
  gap: 25px;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  font-size: 17px;
  font-weight: 600;
  color: #111827;
  position: relative;
  padding: 6px 4px;
  transition: 0.3s;
}

.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0%;
  height: 3px;
  background: #22c55e;
  transition: 0.3s;
  border-radius: 5px;
}

.nav-links a:hover::after,
.nav-links a.active::after {
  width: 100%;
}

.nav-links a:hover {
  color: #4f46e5;
}

.nav-links a.active {
  color: #22c55e;
}

.btn-business {
  padding: 10px 20px;
  background: linear-gradient(135deg, #4f46e5, #22c55e);
  color: #fff !important;
  border-radius: 30px;
  font-weight: bold;
  box-shadow: 0 5px 15px rgba(79, 70, 229, 0.25);
  transition: 0.3s;
}

.btn-business:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 25px rgba(34, 197, 94, 0.3);
}


/* Hero Slider */
.hero-slider {
  width: 100%;
  height: 85vh;
  overflow: hidden;
  position: relative;
}

.hero-slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  animation: fadeSlider 16s infinite;
}

.hero-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(2px);
  transform: scale(1.12);
}

.hero-slide::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  text-align: center;
  color: white;
  width: 90%;
}

.hero-content h1 {
  font-size: 60px;
  font-weight: 800;
}

.hero-content p {
  font-size: 20px;
  color: #e5e7eb;
  margin-bottom: 25px;
}

/* Slider Animation */
@keyframes fadeSlider {
  0% { opacity: 0; }
  10% { opacity: 1; }
  25% { opacity: 1; }
  35% { opacity: 0; }
  100% { opacity: 0; }
}

.hero-slide:nth-child(1) { animation-delay: 0s; }
.hero-slide:nth-child(2) { animation-delay: 4s; }
.hero-slide:nth-child(3) { animation-delay: 8s; }
.hero-slide:nth-child(4) { animation-delay: 12s; }

/* Responsive */
@media (max-width: 768px) {
  .navbar-custom {
    flex-direction: column;
    padding: 15px 25px;
    gap: 12px;
  }

  .nav-links {
    flex-wrap: wrap;
    justify-content: center;
  }

  .hero-content h1 {
    font-size: 35px;
  }

  .hero-content p {
    font-size: 16px;
  }
}
